<% provide(:title, I18n.t('views.sessions.title')) %>
<h1><%= I18n.t('views.sessions.title')%></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :email, I18n.t('views.sessions.email') %>
      <%= f.text_field :email %>

      <%= f.label :password, I18n.t('views.sessions.password') %>
      <%= f.password_field :password %>

      <%= f.submit I18n.t('views.sessions.button_signin'), class: "btn btn-large btn-primary" %>
    <% end %>

    <p><%= I18n.t('views.sessions.new_user') %> <%= link_to I18n.t('views.sessions.sign_now'), signup_path %></p>
  </div>
</div>
